<div class="col-sm-4">
  <h3>Create an array:</h3>
  <p>Your array: <code>{{array}}</code></p><br>
  <button type="button" class="btn btn-default" ng-click="getRandomArray()">Get random Array</button>
  <button type="button" class="btn btn-default" ng-click="cleanArray()">Clean the Array</button>
</div>

<div class="col-sm-4">
  <h3>What to do?</h3>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Multiply by (_.map):</span>
    <input type="text" class="form-control" sd-select-on-click ng-model="multiplyBy" placeholder="number...">
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Select (_.select)</span>
    <select class="form-control" ng-model="selectOption" ng-options="item.display for item in filterOptions track by item.value">
    </select>
  </div>
</div>

<div class="col-sm-4">
  <h3>Result:</h3>
  <ul class="list-group">
    <li class="list-group-item animate-repeat" ng-repeat="elem in arrayResult">{{elem}}</li>
    <li class="animate-repeat" ng-if="arrayResult.length == 0">
      <strong>No array is created...</strong>
    </li>
  </ul>
</div>