<div class="col-xs-4">
  <h3>Create an array:</h3>
  <p>Your array: <code>{{array}}</code></p><br>
  <button class="btn btn-default" ng-click="getRandomArray()" type="button">Get random Array</button>
  <button class="btn btn-default" ng-click="cleanArray()" type="button">Clean the Array</button>
</div>

<div class="col-xs-4">
  <h3>What to do?</h3>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Multiply by (_.map):</span>
    <input type="text" sd-select-on-click ng-model="multiplyBy" class="form-control" placeholder="number...">
  </div><br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Select (_.select)</span>
    <select class="form-control" ng-model="selectOption" ng-options="item.display for item in filterOptions track by item.value">
    </select>
  </div>
</div>

<div class="col-xs-4">
  <h3>Result:</h3>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="elem in arrayResult">{{elem}}</li>
  </ul>
</div>