<h3>Get sum with rate of
  <input type="text" class="sd-form-control" sd-select-on-click ng-model="rate" style="width:50px">
</h3>
<input type="text" class="sd-form-control" id="firstNumber" sd-select-on-click ng-model="firstNumber"  ng-model-options="{debounce:500}" placeholder="Enter a number here" > +
<input type="text" class="sd-form-control" id="secondNumber" sd-select-on-click ng-model="secondNumber"  ng-model-options="{debounce:500}" placeholder="Enter a number here" > =
<input type="text" class="sd-form-control" ng-cloak value="{{result ? result : ''}}" readonly="readonly">